<!DOCTYPE html>
<html>
  <head>
    <title>新闻列表</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>近期新闻</h1>
    <ul>
      <% for(let i=0; i < List.length; i ++) { %>
        <li><a href="/read?id=<%= List[i]._id %>"><%= List[i].title %></a></a></li>
      <% } %>
    </ul>
  </body>
  </script>
</html>
